</body>
<footer class="container-fluid">
<a class="social-media" href="#"><i class="fab fa-facebook-f"></i></a>
<a class="social-media" href="#"><i class="fab fa-twitter"></i></a>
<a class="social-media"href="#"><i class="fab fa-instagram"></i></a>
<a class="social-media" href="#"><i class="fab fa-youtube"></i></a>
<a class="social-media" href="#"><i class="fab fa-discord"></i></a>
<p class="copyright"><i class="far fa-copyright"></i> copyright- Crossfire Gaming Pvt.Ltd. All rights reserved.</p>
</footer>
</html>
