<%- include("partials/header");-%>
<div id="evetns-exp" class="container-fluid" style="min-height:35rem;">
<h1 style ="font-size:5rem; color:red; padding-top:7rem;">No done yet</h1>
</div>
<%- include("partials/footer");-%>
