<%- include("partials/header");-%>
<section id="events">

    <div class="row justify-content-center">
        <div class="col-xl-3 col-md-4">
            <div class="card" style="width: 18rem; text-align:center;">
                <img class="card-img-top" src="images/event-head.jfif" alt="Card image cap">
                <div class="card-body">
                    <h4 >Win as a Team</h5>
                    <p>Game: rainbow six seige</p>
                    <p>join in as a group of 5 and play against the strongest teams</p>
                    <p class="event-money">Registration fee : $ <span>25</span></p>
                    <p>venue : Crossfire</p>
                    <p>Date of Event:DD/MM/YYYY</p>
                    <a href="/event-explained" class="btn btn-primary">View more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("partials/footer");-%>
